.hero-img {
  background: url("../../assets/hero/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
}
.hero-img a {
  position: absolute;
  top: 7rem;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}
.hero-img a:hover {
  color: #fff;
}
.nav-ul {
  margin-left: 5rem;
  margin-top: -1rem;
}
.navi-ul {
  list-style-type: none;
}
.navi-ul li {
  color: #fff !important;
  padding: 3rem;
  font-weight: bolder;
  float: left;
}
.navi-ul li:hover {
  cursor: pointer;
  color: orangered !important;
}
.navi-ul .active {
  color: orangered !important;
}
.hero-heading {
  position: absolute;
  z-index: 10;
  top: 9rem;
  left: 35vw;
}
.hero-heading-h1 {
  font-size: 4rem;
  font-weight: bolder;
  text-shadow: 6px 6px #1f1e1e;
}
.hero-heading-h6-1 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 2px 2px #1f1e1e;
}
.hero-heading-h6-2 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 2px 2px #1f1e1e;
}
.text-color-class {
  color: #fff;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  ul {
    display: none;
  }
}
